html, body {
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
}

div.cell {
  background-color: #035c12;
  position: fixed;
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar {
  display: none;
}
