html, body {
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
}

div.cell {
  background-color: #0d3300;
  position: fixed;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar {
  display: none;
}
