html, body {
  margin: 0 !important;
  padding: 0 !important;
}

canvas {
  width: 100vw;
  height: calc(100vh - constant(safe-area-inset-bottom));
  height: calc(100vh - env(safe-area-inset-bottom));
  margin-bottom: -4px;
}

::-webkit-scrollbar {
  display: none;
}
